extends layout 

block title
  title ELECTRIC :: lightning

block nav
  ul.nav.pull-right
    li.
      a(href="/") Home
    li
      a(href=`/signup?followup=${followup}`) Sign up
    li.active
      a(href=`/login?followup=${followup}`) Login

block sections